import * as React from "react";
import { AXFIconComponent, AXFIconProps } from "../common/AXFIconComponent";
function {{COMPONENT_NAME}}(props: AXFIconProps) {
  return (
    <AXFIconComponent {...props}>
      {{SVG_CONTENTS}}
    </AXFIconComponent>
  );
}
export { {{COMPONENT_NAME}} };
